@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
    /* height: 100vh; */
    background-color: rgb(3, 3, 3);
    color: #c8a0e9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: rgb(196, 34, 13);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}


.menu li {
    list-style: none;
}

.menu a {
    color: #5629fc;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: #5629fc;
}

.menu a:hover {
    background-color: rgb(25, 60, 218);
    color: #735df1;
    transition: ease-in .3s;
}

.main {
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


h1 {
    font-size: 3em;

}

.info-content {
    margin: 1.9em;

}

span {
    color: rgb(218, 109, 25)
}


.download-cv {
    padding: 10px 20px;
    background-color: rgb(60, 47, 241);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(233, 157, 81);
}


.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.main img {
    width: 400px;
    border: 7px solid rgb(43, 2, 97);
    margin: 3em;
}


.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    align-items: center;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: rgb(17, 16, 16);
}

.divider {
    height: 4px;
    width: 60px;
    background-color: rgb(4, 12, 87);
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

/* -----------------Card de projects--------------- */

.portfolio,
.contact-section {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: #5629fc;
}



.portfolio-headings {
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2.5em;
}

.portfolio .container {
    width: 80vw;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.card {
    width: 300px;
    height: 350px;
    color: #fff;
    background-color: rgb(38, 5, 116);
    margin: 1em;
}


.card__img__1 {
    width: 100%;
    height: 150px;
    background-image: url(/img/Portada_blog_ventajas_power_bi.png);
    background-size: cover;
}

.card__img__2 {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.card__img__3 {
    width: 100%;
    height: 150px;
    background-image: url(/img/blog-QA-Testing.jpg);
    background-size: cover;
}

.card__title {
    padding: 20px;
}


.card__projects-links {
    display: flex;
    justify-content: space-evenly;
}

.card__projects-links a {
    color: #ee1e1e;
    text-decoration: none;
}



.card__projects-links i {
    font-size: 1.5em;
}


.card__projects-links {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}


.card .project-details a {
    text-decoration: none;
    color: rgb(58, 0, 0);
    text-transform: uppercase;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

/* --------------Contacto ----------------- */

.contact-headings h2 {
    font-size: 3em;
}

.container-contact {
    padding: 3em;
    margin: 0 auto;
}


.container-contact img {
    width: 650px;
    height: 550px;
    bottom: 0px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}


.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #1f0066;
    color: #3201b6;
}

.form textarea {
    height: 150px;
    background: none;
    color: #fff;
    padding: 1.5em;
    border: 1px solid #fff;
}


.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: rgb(60, 5, 211);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(24, 1, 77);
}

.btn-submit:hover {
    background-color: #0e0242;
    box-shadow: none;
}

/* ---------------Footer----------------------------- */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: rgb(39, 3, 97);
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5,
.social-network {
    font-size: 1.5em;
}

.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 0.5em;
}


.social-network a:hover {
    background-color: rgb(186, 69, 1);
    box-shadow: none;
}

.social-network a {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(18, 4, 218);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(224, 191, 166);
}