@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
    /* height: 100vh; */
    background-color: rgb(12, 12, 12);
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: rgb(218, 109, 25);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
    color: rgb(225, 103, 10);
}

.menu a:hover {
    background-color: rgb(218, 109, 25);
    color: #fff;
    transition: ease-in .3s;
}

.main {
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


h1 {
    font-size: 3em;

}

.info-content {
    margin: 1.9em;

}

span {
    color: rgb(218, 109, 25)
}


.download-cv {
    padding: 10px 20px;
    background-color: rgb(218, 109, 25);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(225, 103, 10);
}


.download-cv:hover {
    background-color: #fff;
    box-shadow: none;
}

.main img {
    width: 400px;
    border: 7px solid rgb(218, 109, 25);
    margin: 3em;
}


.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    align-items: center;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: rgb(17, 16, 16);
}

.divider {
    height: 4px;
    width: 60px;
    background-color: rgb(218, 109, 25);
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

/* -----------------Card de projects--------------- */

.portfolio,
.contact-section {
    width: 100vw;
    background-color: rgb(12, 12, 12);
    color: #fff;
}



.portfolio-headings {
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2.5em;
}

.portfolio .container {
    width: 80vw;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.card {
    width: 300px;
    height: 350px;
    color: #fff;
    background-color: rgb(218, 109, 25);
    margin: 1em;
}


.card__img__1 {
    width: 100%;
    height: 150px;
    background-image: url(/img/Portada_blog_ventajas_power_bi.png);
    background-size: cover;
}

.card__img__2 {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.card__img__3 {
    width: 100%;
    height: 150px;
    background-image: url(/img/blog-QA-Testing.jpg);
    background-size: cover;
}

.card__title {
    padding: 20px;
}


.card__projects-links {
    display: flex;
    justify-content: space-evenly;
}

.card__projects-links a {
    color: #fff;
    text-decoration: none;
}



.card__projects-links i {
    font-size: 1.5em;
}


.card__projects-links {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}


.card .project-details a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}










